{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Partido{% endblock %}

{% block content %}
<div class="body-container">
    <h2 class="title">Alta de partido</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-container">
            <a href="{% url 'match_list' %}" class="link-btn">Volver a la lista de partidos</a>
            <button type="submit" class="btn">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}
