{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/matches.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
<script src="{% static 'js/tables.js' %}"></script>
{% endblock %}

{% block title %}
    Confirmar Eliminación - {{ match.name }}
{% endblock %}

{% block content %}
    <h2 class="title">Eliminar partido</h2>
    <p class="paragraph">¿Estás seguro de que deseas eliminar este partido?</p>
    <form method="post">
        {% csrf_token %}
        <div class="btn-container">
            <a href="{% url 'match_list' %}" class="link-btn">Cancelar</a>
            <button type="submit" class="btn">Sí, eliminar</button>
        </div>
    </form>
{% endblock %}
