{% extends 'base.html' %}

{% block title %}
    Confirmar Eliminación - {{ player.name }}
{% endblock %}

{% block content %}
    <h2 class="title">Eliminar jugador</h2>
    <p class="paragraph">¿Estás seguro de que deseas eliminar este jugador?</p>
    <form method="post">
        {% csrf_token %}
        <div class="btn-container">
            <a href="{% url 'player_list' %}" class="link-btn">Cancelar</a>
            <button type="submit" class="btn">Sí, eliminar</button>
        </div>
    </form>
{% endblock %}
