body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background{
    background-color: #F5F5F5;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.search-container{
    padding: 20px 0 0;
    display: flex;
    justify-content: center;
}

input[type="search"]{
    background-color: #EDF1D6;
    color: #609966;
    border: 2px solid #609966;
    border-radius: 15px;
    width: 70%;
    padding: 10px;
}

input[type="search"]:valid,input[type="search"]:focus{
    color: #40513B;
}

.teams-container{
    display:flex;
    flex-direction: row;
}