body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
.background{
    display: block;  
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.account-data{
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 80%;
    padding-left: 30px;
    padding: 20px;
}

.account-data label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.account-data input
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.profile-fields{
  display: flex;
}

button {
  background-color: none;
  border: none;
  color: blue;
  cursor: pointer;
}

button:hover{
  background-color: none;
  color: lightblue;
}
  

  

  