body {
  height: 100%;
  margin: 0;
  padding: 0;
  }
  
.background{
  display: block;  
  padding-left: 30px;
}

.account-data{
  width: 90%;
  align-items: center;
  justify-content: center; 
  width: 80%;
  padding-left: 30px;
  padding: 20px;
}

.account-data label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.account-data input textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.profile-fields{
  display: block;
  padding: 0 0 20px;
}

input{
  position: flex;
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: 2px solid #9DC08B;
  border-radius: 15px;
  box-sizing: border-box; 
  background: white;
}

select{
  position: flex;
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: 2px solid #9DC08B;
  border-radius: 15px;
  box-sizing: border-box; 
  background: white;
}

.btn-container{
  display: flex;
  padding-left: 80%;
}

#edit-btn, #cancel-btn{
  background-color: #f5f5f5;
  border: none;
  color: blue;
  cursor: pointer;
}

#edit-btn:hover, #cancel-btn:hover{
  text-decoration: underline;
}
  
#save-btn{
  background-color: #609966;
  border: none;
  border-radius: 15px;
  color: #F5F5F5;
  padding: 10px 20px ;
  margin-left: 10px;
}

#save-btn:hover{
  background-color: #40513B;
  cursor: pointer;
}

