body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background{
    background-color: #F5F5F5;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.tables-container{
    display: flex;
    width: 100%;
}

.table-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

table{
    table-layout: fixed;
    width: 90%;
    border-collapse:collapse;
    background-color: #EDF1D6;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 200px;
}
tr th {
    text-align: center;
    background-color: #9DC08B;
    height: 25px;
}
tr td{
    text-align: center;
    height: 25px;
}
      
