body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background{
    background-color: #F5F5F5;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.table-container{
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

table{
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    background-color: #EDF1D6;
}
th {
    background-color: #9DC08B;
}
td{
    padding: 10px;
}
      
