<html>
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/home.css">
        <link rel="stylesheet" type="text/css" href="../static/css/tables.css">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="background">
            <div class="banner">
                {% if next_match %}                
                <div class="banner">
                    {% if next_match.local_team_image %}
                        <div class="next-match-logo">
                            <img src="{{ next_match.local_team_image.url }}" alt="{{ next_match.local_team.name }} Logo" class="small-logo">
                        </div>
                    {% endif %}
                    <div class="next-match-info">
                        <h1>Próximo partido</h1>
                        <h1 class="next-match-teams">{{ next_match.local_team }} vs {{ next_match.visiting_team }}</h1>
                        <h3>{{ next_match.date }}</h3>
                    </div>
                    {% if next_match.visiting_team_image %}
                        <div class="next-match-image">
                            <img src="{{ next_match.visiting_team_image.url }}" alt="{{ next_match.visiting_team.name }} Logo" class="small-logo">
                        </div>
                    {% endif %}
                </div>
                {% else %}
                    <p>No hay próximos partidos programados.</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>
