<html>
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/home.css">
        <link rel="stylesheet" type="text/css" href="../static/css/tables.css">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="background">
            <div class="banner">
                <div class="banner-info">
                    <h2>PROXIMO PARTIDO</h2>
                    <h4>dd/mm - 00:00hs</h4>
                </div>
                <div class="banner-teams">
                    <h1>club 1 vs club 2</h1>
                </div>
            </div>
        </div>
    </body>
</html>
