<html>
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/home.css">
        <link rel="stylesheet" type="text/css" href="../static/css/tables.css">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="background">
            <div class="banner">
                {% if next_match %}
                    <div class="banner-info">
                        <h2>Próximo partido</h2>
                        <h4>{{ next_match.date }}</h4>
                    </div>
                    <div class="banner-teams">
                        <h1>{{ next_match.local_team }} vs {{ next_match.visiting_team }}</h1>
                    </div>
                {% else %}
                    <p>No hay próximos partidos programados.</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>
