<html>
    <head>
        <meta charset="UTF-8">
        <title>Partidos</title>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/matches.css">
        <link rel="stylesheet" type="text/css" href="../static/css/tables.css">
        <link rel="stylesheet" type="text/css" href="../static/css/popups.css">
    </head>
    <body>
        {% include 'navbar.html' %}
        {% if user.type == 'PR' %}
            <div class="btn-container">
                <button class="btn" onclick="openPopupMatch()">Crear partido</button>
            </div>
        {% endif %}
        <div class="search-container">
            <input type="search" class="search" id="matches-search" onkeyup="searchTable()" placeholder="Buscar partido por equipo...">
        </div>
        <div class="fiter-container">
            <h5>Filtrar partidos:</h5>
            <select class="table-filter-slct" name="table-filter" id="table-filter-select" onchange="filterTable()">
                <option value="last-matches">últimos partidos</option>
                <option value="ongoing-matches" selected>Partidos actuales</option>
                <option value="next-matches">Proximos partidos</option>
            </select>
        </div>
        <div class="table-container">
            <table class="table" id="matches-tbl">
                <tr id="table-header">
                    <th>Fecha</th>
                    <th>Equipos</th>
                    <th>Resultado</th>
                    <th></th>
                </tr>
                {% for match in matches %}  
                <tr class="match-row" data-id="{{ match.id }}">
                    <td data-date="{{ match.date }}">{{ match.date }}</td>
                    <td>{{match.local_team}} vs {{match.visiting_team}}</td>
                    <td>{{match.local_team_result}} - {{match.visiting_team_result}}</td>
                    <td><a href="#" onclick="openPopupMatchData({{match.id}})">Ver más...</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="popup-container">
            <div class="data-upload-container" id="match-upload-container">
                <div class="popup-window" id="popup-upload-match">
                    <h1>Alta de partido</h1>
                    <form method="post" class="form">
                        {% csrf_token %}
                        <div class="input-container">
                            <select class="select" id="match-category-slct" name="match-category" onchange="updateTeamOptions()" required="required">
                                <option selected="selected"></option>
                                {% for category in categories %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                            <span for="match-category-slct" class="select-spn">Categoría</span>
                        </div>
                        <div class="input-container">
                            <select class="select" id="team-one-name" name="match-local-team" required="required">
                                <option selected="selected"></option>
                                {% for team in teams %}
                                    <option value="{{team.id}}">{{team.name}}</option>
                                {% endfor %}
                            </select>
                            <span for="team-one-name" class="select-spn">Equipo local</span>
                        </div>
                        <div class="input-container">
                            <select class="select" id="team-two-name" name="match-visiting-team" required="required">
                                <option selected="selected"></option>
                                {% for team in teams %}
                                    <option value="{{team.id}}">{{team.name}}</option>
                                {% endfor %}
                            </select>
                            <span for="team-two-name" class="select-spn">Equipo visitante</span>
                        </div>
                        <div class="input-container">
                            <input type="datetime-local" class="date-input" id="match-date" name="match-date" required="required">
                            <span for="match-date" class="date-input-spn">Fecha del partido</span>
                        </div>
                        <div class="btn-container">
                            <button class="btn" id="close-btn" onclick="closePopupMatch()">Cancelar</button>
                            <button class="btn" type="submit" id="save-btn" name="form-match-create">Guardar</button>
                        </div>
                    </form>
                </div> 
            </div>
        </div>
        <div class="popup-container">
            <div class="data-upload-container" id="match-data-popup">
                <div class="popup-window" id="popup-match-data">
                    <h1>Partido</h1>
                    <form method="post" class="form" onchange="updatePopup()">
                        {% csrf_token %}
                        <div class="match-general-data">
                            <div class="input-container">
                                <input type="text" class="text-input" id="match-category-input" name="match-category" value="">
                                <span for="match-category-input" class="match-spn">Categoría</span>
                            </div>
                            <div class="input-container">
                                <input type="datetime-local" class="date-input" id="match-date" name="match-date" value="">
                                <span for="match-date" class="match-spn">Fecha del partido</span>
                            </div>
                        </div>
                        <div class="match-teams-data">
                            <div class="local-team-container">
                                <h3>Equipo local</h3>
                                <div class="input-container">
                                    <input type="text" class="text-input" id="local-team-name" name="local-team-name" disabled>
                                    <span for="local-team-name" class="match-span">Nombre del equipo</span>
                                </div>
                                {% if user.type == 'PR' %}
                                    <div class="input-container">
                                        <input type="file" class="file-input" id="local-team-picture" name="local-team-picture" accept="Image/*" disabled>
                                        <span for="local-team-picture" class="match-span">Foto de equipo</span>
                                        <img id="local-team-picture-preview" src="" alt="Vista previa de la imagen" style="display: none; max-width: 200px; max-height: 200px;">
                                    </div>
                                {% endif %}
                                <div class="input-container">
                                    <input type="text" class="text-input" id="local-team-goals" name="local-team-goals" disabled>
                                    <span for="local-team-goals" class="match-span">Goles</span>
                                </div>
                            </div>
                            <div class="visiting-team-container">
                                <h3>Equipo visitante</h3>
                                <div class="input-container">
                                    <input type="text" class="text-input" id="visiting-team-name" name="visiting-team-name" disabled>
                                    <span for="visiting-team-name" class="match-span">Nombre del equipo</span>
                                </div>
                                {% if user.type == 'PR' %}
                                    <div class="input-container">
                                        <input type="file" class="file-input" id="visiting-team-picture" name="visiting-team-picture" accept="Image/*" disabled>
                                        <span for="visiting-team-picture" class="match-span">Foto de equipo</span>
                                        <img id="visiting-team-picture-preview" src="" alt="Vista previa de la imagen" style="display: none; max-width: 200px; max-height: 200px;">
                                    </div>
                                {% endif %}
                                <div class="input-container">
                                    <input type="text" class="text-input" id="visiting-team-goals" name="visiting-team-goals" disabled>
                                    <span for="visiting-team-goals" class="match-span">Goles</span>
                                </div>
                            </div>
                        </div>
                        <div class="btn-container">
                            <button class="btn" type="button" id="close-btn" onclick="closePopupMatchData()">Cerrar</button>
                            {% if user.type == 'PR' %}
                            <button class="btn" type="button" id="edit-btn">Editar</button>
                            <button class="btn" tye="button" id="cancel-btn" style="display: none;">Cancelar</button>
                            <button class="btn" type="submit" id="save-btn" style="display: none;">Guardar</button>
                            {% endif %}
                        </div>    
                    </form>
                </div>
            </div>
        </div>
        <script src="../static/js/popups.js"></script>
        <script src="../static/js/tables.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</html>