<html>
    <head>
        <meta charset="UTF-8">
        <title>Mi perfil</title>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/profile.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="background">
            <h1>Mi perfil</h1>
            <div class="account-data">       
                <form method="post" class="form">
                    {% csrf_token %}
                    <div class="profile-fields">
                        <label for="name">Nombre:</label>
                        <input type="text" class="input" id="user-name" name="user-name" value="{{ user.username }}" disabled>
                    </div>
                    <div class="profile-fields">
                        <label for="email">Email:</label>
                        <input type="email" class="input" id="user-email" name="user-email" value="{{ user.email }}" disabled>
                    </div>
                    <div class="profile-fields">
                        <label for="name">Club:</label>
                        <select class="select" id="club-slct" name="user-club" disabled>
                            {% if user.club %}
                                <option value="{{club.id}}" selected="selected">{{user.club.name}}</option>
                            {% else %}
                                <option value="" selected="selected">Elegir opción</option>
                            {% endif %}
                            {% for club in clubs %}
                                <option value="{{club.id}}">{{club.name}}</option>
                            {% endfor %}
                        </select>    
                    </div>
                    <div class="profile-fields"> 
                        <label for="name">Puesto:</label>
                        <select class="select" id="user-type-slct" name="user-type" value="{{ usertype.type }}" disabled>
                            {% if user.type %}
                                <option value="{{type.id}}" selected="selected">{{user.get_type_display}}</option>
                            {% else %}
                                <option selected="selected">Elegir opción</option>
                            {% endif %}
                            {% for id,value in user_type_choices %}
                                <option value="{{id}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="btn-container">
                        <button class="btn" type="button" id="edit-btn">Editar</button>
                        <button class="btn" tye="button" id="cancel-btn" style="display: none;">Cancelar</button>
                        <button class="btn" type="submit" id="save-btn" style="display: none;">Guardar</button>
                    </div>
                </form>
            </div>
        </div>   
        <script src="../static/js/profile.js"></script>
    </body>
</html>