<html>
    <head>
        <meta charset="UTF-8">
        <title>Crear cuenta</title>
        <link rel="stylesheet" type="text/css" href="../static/css/userform.css">
        <script src="../static/js/userform.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    </head>
    <body>
        <div class="container">
            <div class="background">
                <a href="{% url 'home' %}">Sistema gestor de jugadores</a>
            </div>
            <form method="post" class="form">
                {% csrf_token %}
                <h1>¡Bienvenido!</h1>
                {% if message %}
                    {{ message }}
                    
                    <input type="email" id="email" name="email" value="{{email}}" required>
                    <input type="text" id="username" name="username" value="{{username}}" required>
                    <input type="password" id="password" name="password" value="{{password}}" pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres" required>
                    <input type="password" id="confirm_password" name="confirm_password" value="#" required>
                    
                    <button id="btn-signup" type="submit">Crear cuenta</button>
                {% else %}
                    <div class="data-container">
                        <input type="email" id="email" name="email" placeholder="Email" required>
                        <input type="text" id="username" name="username" placeholder="Nombre de usuario" required>    
                    </div>    
                    <div class="data-container">
                        <input type="password" id="password" name="password" placeholder="Contraseña" pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres" required>
                        <span class="eye" onclick="changeEyePw()">
                            <i id="open-eye-pw" class="fa-solid fa-eye"></i>
                            <i id="close-eye-pw" class="fa-solid fa-eye-slash"></i>
                        </span>
                    </div>
                    <div class="data-container">
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar contraseña" required>
                        <span class="eye" onclick="changeEyeCPw()">
                            <i id="open-eye-cpw" class="fa-solid fa-eye"></i>
                            <i id="close-eye-cpw" class="fa-solid fa-eye-slash"></i>
                        </span>
                    </div>
                    <button class="btn" id="btn-signup" type="submit">Crear cuenta</button>
                {% endif %}
                <h4>¿Ya tenes cuenta?</h4> 
                <a href="{% url 'login' %}">Iniciar sesión</a>
            </form>
        </div>

        <script>            
            function changeEyePw(){
                var password = document.getElementById("password");
                var open_eye_pw = document.getElementById("open-eye-pw");
                var close_eye_pw = document.getElementById("close-eye-pw");   
          
                if (password.type ===  'password'){
                    password.type = "text";
                    open_eye_pw.style.display = "block";
                    close_eye_pw.style.display = "none";
                }
                else{
                    password.type = "password";
                    open_eye_pw.style.display = "none";
                    close_eye_pw.style.display = "block";
                }
            }
            function changeEyeCPw(){
                var confirm_password = document.getElementById("confirm_password");
                var open_eye_cpw = document.getElementById("open-eye-cpw");
                var close_eye_cpw = document.getElementById("close-eye-cpw");   

                if (confirm_password.type ===  'password'){
                    confirm_password.type = "text";
                    open_eye_cpw.style.display = "block";
                    close_eye_cpw.style.display = "none";
                }
                else{
                    confirm_password.type = "password";
                    open_eye_cpw.style.display = "none";
                    close_eye_cpw.style.display = "block";
                }
            }
        </script>

    </body>
</html>