<html>
    <head>
        <meta charset="UTF-8">
        <title>Crear cuenta</title>
        <link rel="stylesheet" type="text/css" href="../static/css/userform.css">
        <script src="../static/js/userform.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="background">
                <a href="{% url 'home' %}">Sistema gestor de jugadores</a>
            </div>
            <form method="post" class="form">
                <h1>¡Bienvenido!</h1>
                <input type="email" id="email" placeholder="Email" required>
                <input type="text" id="user_name" placeholder="Nombre de usuario" required>
                <input type="password" id="password" placeholder="Contraseña" pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres" required>
                <input type="password" id="confirm_password" placeholder="Confirmar contraseña" required>
                <p id="password_error" style="color: red; display: none;">Las contraseñas no coinciden</p>
                <button id="btn_signup" type="submit">Crear cuenta</button>
                <h4>¿Ya tenes cuenta?</h4> 
                <a href="{% url 'login' %}">Iniciar sesión</a>
            </form>
        </div>
    </body>
</html>