{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/matches.css' %}">
{% endblock %}

{% block title %}Editar Partido{% endblock %}

{% block content %}
<div class="body-container">
    <h2 class="title">Editar partido</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}    
        {{ form.as_p }}

        <div class="teams-container">
            <div>
                {% if form.instance.recognition_local_team_image %}
                <h2>Previsualización de la Imagen del Equipo Local</h2>
                <img src="{{ form.instance.recognition_local_team_image.url }}" alt="{{ form.instance.local_team.name }}">
                {% endif %}
            </div>

            <div>
                {% if form.instance.recognition_visiting_team_image %}
                <h2>Previsualización de la Imagen del Equipo Visitante</h2>
                <img src="{{ form.instance.recognition_visiting_team_image.url }}" alt="{{ form.instance.visiting_team.name }}">
                {% endif %}
            </div>
        </div>
        <div class="btn-container">
            <a href="{% url 'match_list' %}" class="link-btn">Volver a la lista de partidos</a>
            {% if user.type == 'PR' %}
            <a href="{% url 'match_delete' match.pk %}" class="link-btn">Eliminar partido</a>
            <button type="submit" class="btn">Guardar cambios</button>
            {% endif %}
        </div> 
    </form>
</div>
{% endblock %}
