{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Jugador{% endblock %}

{% block content %}
<div class="body-container">
    <h2 class="title">Editar Jugador</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-container">
            <a href="{% url 'player_list' %}" class="link-btn">Volver a la lista de jugadores</a>
            <button type="submit" class="btn">Guardar Cambios</button>
        </div>
    </form>
</div>
{% endblock %}
