{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/matches.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
<script src="{% static 'js/tables.js' %}"></script>
{% endblock %}

{% block title %}Partidos{% endblock %}

{% block content %}
<div class="body-container">
    <h2 class="title">Partidos</h2>
    {% if user.type == 'PR' %}
    <div class="btn-container">
        <a href="{% url 'match_create' %}" class="btn">Crear partido</a>
    </div>
    {% endif %}
    <div class="search-container">
        <input tYpe="search" class="search" id="matches-search" onkeyup="searchTable()" placeholder="Buscar partido por equipo...">
    </div>
    <div class="table-container">
        <table class="table" id="matches-tbl">
            <tr id="table-header">
                <th>Fecha</th>
                <th>Equipos</th>
                <th>Resultado</th>
                <th></th>
            </tr>
            {% for match in matches %}  
            <tr class="match-row" data-id="{{ match.id }}">
                <td data-date="{{ match.date }}">{{ match.date }}</td>
                <td>{{match.local_team}} vs {{match.visiting_team}}</td>
                <td>{{match.local_team_goals}} - {{match.visiting_team_goals}}</td>
                <td><a href="{% url 'match_update' match.pk%}">Ver más...</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}