{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/matches.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
<script src="{% static 'js/tables.js' %}"></script>
{% endblock %}

{% block title %}Equipos{% endblock %}

{% block content %}
<div class="body-container">
    <h2 class="title">Equipos</h2>
    <div class="btn-container">
        <a href="{% url 'team_create' %}" class="btn">Crear equipo</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoría</th> 
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.category }}</td>
                    <td>
                        <a href="{% url 'team_update' team.pk %}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
